*{
    margin: 0;
    padding: 0;
}
/* 
CSS Variables */
:root{
    --navbar-height:59px;
}
#navbar{
    display: flex;
    align-items:center;
    position: relative;
    

}
#logo{
    margin: 9px 28px;
}
#logo img{
    height: 59px;
    margin: 4px 5px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
content: "";
background-color: rgba(84, 24, 112, 0.774);
position: absolute;
top: 0px;
left: 0px;
height: 100%;
width: 100%;
z-index: -1;
opacity: .4;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
   display:block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 465px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: "";
position: absolute;
background:url('bg1.jpg') no-repeat center center/cover;
top: 0px;
left: 0px;
height: 85%;
width: 100%;
z-index: -1;
opacity: .89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.8rem;

}
#home p{
    color: whitesmoke;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Yanone Kaffeesatz', sans-serif;

}

#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border:2px solid brown;
padding:34px ;
margin: 3px 6px;
border-radius: 26px;
background: #f2f2f8;

}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
}
#services .bpx p{
    font-family: 'Courier New', Courier, monospace;
}
html{
    scroll-behavior: smooth;
}
#services
#services
/* #client-section{
    height: 344px;
}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
   height: 120px;;
} */
.h-primary{
    font-family: 'Yanone Kaffeesatz', sans-serif; ;
    font-size: 2.5rem;
    padding: 10px;
}
#services-container h1{
    color:black;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5rem;
}
#contact h1{
    color:black;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5rem;
}
.h-secondary{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.0rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: cornsilk;
    margin: 17px;
    font-size: 1.8rem;
    border-radius: 10px;
    cursor: pointer;
}
.center{
    text-align: center;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.5;
    background: url('contact.jpg') no-repeat center center/cover;

}
footer{
    background: black;
    color: blanchedalmond;
    padding:9px 25px ;
}
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url('contact.jpg') no-repeat center center/cover;

}
.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
.contact-box input, 
.contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
} 

.contact-box form{
    width: 40%;
}

.contact-box label{
   font-size: 1.3rem;
   font-family: 'Bree Serif', serif;

}
/* #menu{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 465px;
    justify-content: center;
    align-items: center;
} */
#menu{
    content: "";
position: relative;
background: black;

height: 85%;
width: 100%;
z-index: -1;

}
#menu h1{
    color:black;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.5rem;
}